@{
  Layout = "_MainLayout";
  ViewData["Title"] = "Complete Registration";
}

<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

        <form method="get" asp-route="token_register">
          <div class="card card-login card-hidden">
            <div class="card-header text-center" data-background-color="rose">
              <h4 class="card-title">Complete Registration</h4>
            </div>
            <div class="card-content">

              @await Html.PartialAsync("_Messages")

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="material-icons">confirmation_number</i>
                </span>
                <div class="form-group label-floating">
                  <label class="control-label">Token</label>
                  <input name="Token" type="text" class="form-control" required="required">
                </div>
              </div>
            </div>
            <div class="footer text-center">
              <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Let's Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
