$white: #fff;
$main: #34314c;
$secondary: #9592ad;
$border: #d9dee9;
$highlight_1: #fd7473;
$highlight_2: #fec951;
$highlight_3: black;
$highlight_4: green;
body {
    font-family: "Circular Std Book", sans-serif;
    background: #F8F8FA;
}

.border {
    height: 5px;
    border: 0;
    background-color: $highlight_2;
    background-image: linear-gradient( to-right, $highlight_1, $highlight_1 25%, $highlight_2 25%, $highlight_2 50%, $highlight_3 50%, $highlight_3 75%, $highlight_4 75%, $highlight_4 100%, $highlight_4 100%);
    background-size: 50% 100%;
}

.wrapper {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.header {
    background: white;
    height: 20rem;
    padding: 20px;
    margin-bottom: 15px;
}

.listings {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 0;
    a {
        text-decoration: none;
    }
    .listing {
        background: $white;
        border: 1px solid $border;
        border-radius: .3em;
        padding: 1em;
        margin-bottom: 1em;
        position: relative;
        z-index: 1;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 7rem;
        .img-wrapper {
            width: 60px;
            padding-right: 10px;
            img {
                width: 60px;
                display: block;
                margin: 0 auto;
                border-radius: .25rem;
            }
        }
        .listing__info {
            width: 100%;
            .listing__info_title {
                display: block;
                font-weight: 700;
                color: $main;
                font-size: 20px;
                text-transform: uppercase;
            }
            .listing__info_meta {
                display: flex;
                justify-content: space-between;
                padding-top: .6em;
                align-items: center;
                .listing__info_company {
                    font-weight: 700;
                    color: $secondary;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @media screen and (max-width: 368px){
                        font-size: 16px;
                    }

                }
                .listing__info_type {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: .75em;
                    position: relative;
                    white-space: nowrap;
                    width: 100px;
                }
                
            }
        }
    }
}

.filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input {
    min-width: 100px;
    height: 40px;
    padding: 0 44px 2px 14px;
    border: 1px solid #e2e2e5;
    background: hsla(0, 0%, 100%, .5);
    font-size: 16px;
    line-height: calc(100% - 4px);
    vertical-align: middle;
    appearance: none;
}