<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a asp-page="/Index">
            Home
          </a>
        </li>
        <li>
          <a asp-page="/About">
            About
          </a>
        </li>
        <li>
          <a asp-page="/Contact">
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy;
      <script>2018</script>
      <a asp-page="/Index"> DevCongress.Jobs.Web </a>, an awesome framework
    </p>
  </div>
</footer>
